.card-container {
  display: grid;
  background-color: #f2f2f2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 31px 0 hsl(0deg 0% 45% / 9%);
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 992px) {
  .card {
    margin-bottom: 20px;
  }
}

.card-header {
  height: 300px;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}
.card-header-image {
  background-color: #cccccc;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

.card-content {
  padding: 0 1.5rem;
}

.card-article-title {
  font-size: 24px;
  text-align: left;
  color: #333333;
  transition: color 0.5s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-article-title:hover {
  color: #8a8a8a;
  cursor: pointer;
}

.card-article-content {
  font-size: 18px;
  text-align: left;
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
